<div id="footer">
  <div class="container">
    <hr><%= link_to "Terms and Conditions", "#", class: "a1" %> &nbsp;|&nbsp;
    <%= link_to "Contact Us", "#", class: "a1" %> &nbsp;|&nbsp;
    <%= link_to "Advertisement", "#", class: "a1" %> &nbsp;|&nbsp;
    <a href="https://github.com/AlvilsK/liston.git">GitHub</a> &nbsp;|&nbsp;
    Liston &copy; AlvilsK
  </div>
</div>

