<div class="row">
  <div class="col-xs-6 col-md-3">
    <ul>
      <label>Auto</label>
      <li>Examplelink</li>
      <li>Examplelink</li>
      <li>Examplelink</li>
      <li>Examplelink</li>
      <li>Examplelink</li>
    </ul>
  </div>
  <div class="col-xs-6 col-md-3">.col-sm-4</div>
  <div class="col-xs-6 col-md-3">.col-sm-4</div>
  <div class="col-xs-6 col-md-3">.col-sm-4</div>
</div>
<div class="row">
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
</div>
<div class="row">
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
</div>
