<div class="row">
  <div class="col-xs-6 col-md-3">
    <ul>
      <label><%= link_to "Category", "#" %></label>
      <% Category.all.each do |category| %>
        <li class="<%= 'active' if params[:category] == category.name %>">
	      <%= link_to category.name, listings_path(category: category.name), class: "link" %>
       </li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-6 col-md-3">.col-sm-4</div>
  <div class="col-xs-6 col-md-3">.col-sm-4</div>
  <div class="col-xs-6 col-md-3">.col-sm-4</div>
</div>
<div class="row">
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
</div>
<div class="row">
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
  <div class="col-md-3">.col-sm-4</div>
</div>
